{% extends "base.html" %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a href="/">Home</a>
                <a href="">About Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="/static/img/about.jpg" alt="Image">
                    <button type="button" class="btn-play" data-toggle="modal" data-src="/static/video/sample-video.mp4" data-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <p>About Us</p>
                        <h2>Cooking Since 1990</h2>
                    </div>
                    <div class="about-text">
                        <p> 
                           Welcome to our online food order website! We are passionate about providing you with a convenient and delicious dining experience from the comfort of your own home. With a wide variety of mouthwatering dishes to choose from, we aim to satisfy your cravings and make every meal a memorable one.
                        </p>
                        <p>
                            At our online food order website, we have partnered with the finest local restaurants and culinary experts to bring you a diverse selection of cuisines. Whether you're in the mood for a sizzling pizza, a comforting bowl of pasta, a spicy curry, or a refreshing salad, we've got you covered. Our menu is carefully curated to cater to different tastes and dietary preferences, ensuring there's something for everyone.                        
                        </p>
                        <p>
                            Your satisfaction is our top priority. If you have any questions, concerns, or special requests, our friendly customer support team is always ready to assist you. We value your feedback and continuously strive to improve our services, so we can provide you with an exceptional online food ordering experience every time.
                        </p>
                        <p>
                            Thank you for choosing our online food order website. We look forward to serving you a delightful meal that will tantalize your taste buds and keep you coming back for more. Place your order today and let us bring the joy of great food to your doorstep!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Video Modal Start-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>        
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Video Modal End -->
{% endblock %}